version: 2
jobs:
  build:

    working_directory: ~/build

    docker:
      - image: circleci/openjdk:8-jdk-browsers

    branches:
        only:
            - master

    environment:
      GIT_AUTHOR_NAME: CircleCI
      GIT_AUTHOR_EMAIL: nobody@email.com
      GIT_COMMITTER_NAME: CircleCI
      GIT_COMMITTER_EMAIL: nobody@email.com


    steps:
      - run: sudo apt-get install -y doxygen graphviz
      - checkout

      - run: git clean -xdf
      - run: mvn package site

      - store_test_results:
          path: target/surefire-reports

      - store_artifacts:
          path: target/ticktacktoe-0.0.1-Snapshot.jar

      # push documentation online
      - add_ssh_keys:
          fingerprints:
              - "33:a7:a4:da:a6:8b:dc:25:2f:8b:ad:5d:1d:f0:03:91"
      - run:
          name: Deploy Documentation
          command: |
              mv -f target/site /tmp
              rm -Rf *
              rm -Rf .circleci
              git branch -D gh-pages || true
              git checkout --orphan gh-pages
              mv -f /tmp/site/* .
              echo -e 'general:\n    branches:\n        ignore:\n            - /.*/\n' > .circleci/config.yml
              echo -e '*.*\n!*/\n!.circleci/config.yml\n!.gitignore\n!circle.yml\n!*.htm*\n!*.css\n!*.js\n!*.png\n!*.gif\n!*.svg\n!*.json\n!*.g4\n' > .gitignore
              git add --all .
              git commit -m "current documentation"
              git push -f origin gh-pages
