# Java Mave CircleCI 2.0 configuration file

# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2 # use CircleCI 2.0
jobs: # a collection of steps
  build:

    working_directory: ~/poker # directory where steps will run

    branches:
        only:
            - master

    branches:
        only:
            - master

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    docker:
      #specify the version you desire here
      - image: circleci/openjdk:8-jdk-browsers

    branches:
        only:
            - master
            - dev-oop

    environment:
      GIT_AUTHOR_NAME: CircleCI
      GIT_AUTHOR_EMAIL: nobody@email.com
      GIT_COMMITTER_NAME: CircleCI
      GIT_COMMITTER_EMAIL: nobody@email.com


    steps:
      - run: sudo apt-get install -y doxygen graphviz
      - checkout

      - run: git clean -xdf
      - run: mvn package site

      - store_test_results:
          path: target/surefire-reports

      - store_artifacts:
          path: target/ticktacktoe-0.0.1-Snapshot.jar

      # push documentation online
      - add_ssh_keys:
          fingerprints:
              - "05:ce:52:8b:dc:13:c9:84:22:a0:30:a5:0a:21:30:b0"
      - run:
          name: Deploy Documentation
          command: |
              mv -f target/site /tmp
              rm -Rf *
              rm -Rf .circleci
              git branch -D gh-pages || true
              git checkout --orphan gh-pages
              mv -f /tmp/site/* .
              echo -e 'general:\n    branches:\n        ignore:\n            - /.*/\n' > circle.yml
              echo -e '*.*\n!.gitignore\n!circle.yml\n!*.htm*\n!*.css\n!*.js\n!*.png\n!*.gif\n!*.svg\n!*.json\n!*.g4\n' > .gitignore
              git add --all .
              git commit -m "current documentation"
              git push -f origin gh-pages
